/* Hover and Circle Background */
.circle, 
.circle3, 
.circle4, 
.circle5, 
.circle6 {
    padding: 20px;
    width: 2px;
    height: 2px;
    margin: 3px auto;
    border-radius: 50%;
    border: solid white 2px;
    z-index:1;
  }
.circle:hover, 
.circle3:hover, 
.circle4:hover, 
.circle5:hover, 
.circle6:hover {
    opacity: 0.6;
}
.circle {
    background-color: #F0F4AB;
}
.circle3 {
    background-color: #3B5998;
}
.circle4 {
    background-color: #007bb5;
}
.circle5 {
    background-color: #dd4b39;
}
.circle6 {
    background-color: rgb(240, 160, 13);
}
.circle2, .circle7 {
    padding: 25px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: white;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    bottom: 20px;
}
.circle2 {
    display: none;
    bottom: 100px;
}
.circle2:hover, .circle7:hover {
    opacity: 1;
}
.circular--portrait {
    position: relative;
    width: 440px;
    height: 440px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -250px;
    border: solid white 4px;
} 
.circular--portrait img {
    width: 200%;
    height: auto;
    margin-left: -280px;
}
/* End */


/* Navigation Menu: Icon - Start */
.menu.icon {
    color: #272627;
    margin-left: -12px;
    margin-top: -1px;
    width: 25px;
    height: 3px;
    background-color: currentColor;
    position: absolute;
}
.menu.icon:before {
    top: -7px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: currentColor;
    content: '';
    position: absolute;
}
.menu.icon:after {
    top: 7px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: currentColor;
    content: '';
    position: absolute;
}
/* End */


/* Mail */
.mail.icon {
    color: #170758;
    margin-left: -15px;
    margin-top: -10px;
    width: 30px;
    height: 20px;
    border-radius: 3px;
    border: solid 1px currentColor;
    background-color: currentColor;
    position: absolute;
}
.mail.icon:before {
    color: white;
    left: 14px;
    top: -6px;
    width: 1px;
    height: 18px;
    background-color: currentColor;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(-54deg);
            transform: rotate(-54deg);
    content: '';
    position: absolute;        
}
.mail.icon:after {
    color: white;
    left: 14px;
    top: -6px;
    width: 1px;
    height: 18px;
    background-color: currentColor;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(54deg);
            transform: rotate(54deg);
    content: '';
    position: absolute;
}
/* End */


/* Linked In */
.linkedIn {
    color: white;
    width: 5px;
    height: 16px;
    margin-left: -10px;
    margin-top: -5px;
    box-shadow: inset 0 0 0 4px , 8px 0;
    position: absolute;
}
.linkedIn:before {
    width: 6px;
    height: 6px;
    box-shadow: inset 0 0 0 4px;
    top: -7px;
    left: -0.5px;
    border-radius: 50%;
    content: '';
    position: absolute;
}
.linkedIn:after {
    width: 12px;
    height: 16px;
    border-right: 1px solid;
    left: 11px;
    bottom: 0;
    border-radius: 8px 5px 0 0/ 5px 5px 0 0;
    box-shadow: inset -4px 4px;
    content: '';
    position: absolute;
}
/* End */


/* Facebook */
.facebook {
    color: white;
    width: 7px;
    height: 24px;
    margin-left: -1px;
    margin-top: -9px;
    box-shadow: inset 1.7px 4px 0 0;
    border-left: 3px solid;
    border-radius: 5px 0 0;
    position: absolute;
}
.facebook:before {
    top: 9px;
    left: -5.5px;
    width: 12px;
    height: 4px;
    background-color: currentColor;
    content: '';
    position: absolute;
}
/* End */


/* Google Plus */
.g.icon {
    color: white;
    width: 9px;
    height: 2.5px;
    margin-left: 3px;
    margin-top: 0px;
    box-shadow: inset 0 0 0 15px;
    position: absolute;
}
.g.icon:before {
    top: -3px;
    right: 10px;
    content: "g";
    font-family: georgia;
    font-size: 30px;
    text-indent: 0;
    line-height: 0;
    position:absolute;
}
.g.icon:after {
    width: 2.5px;
    height: 9px;
    top: -3px;
    right: 3.5px;
    box-shadow: inset 0 0 0 15px;
    content: '';
    position:absolute;
}
/* End */


/* Down Arrow */
.down.icon {
    position: absolute;
    margin-left: 0px;
    margin-top: -15px;
    width: 5.5px;
    height: 35px;
    background-color: currentColor;
}
.down.icon:before {
    content: '';
    left: -9.7px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-top: solid 5px currentColor;
    border-right: solid 5px currentColor;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    position: absolute;
}
/* End */

  
/* Up Arrow */
.up.icon {
    position: absolute;
    margin-left: 0px;
    margin-top: -15px;
    width: 5.5px;
    height: 35px;
    background-color: currentColor;
}
.up.icon:before {
    content: '';
    left: -9.7px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-top: solid 5px currentColor;
    border-right: solid 5px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
}
/* End */


/* Doc */
.doc {
	background: #2F5EF1;
    width: 104px;
    height: 128px;
    border-radius: 5px 0px 5px 5px;
    margin: 30px -10px;
    border: solid #2F5EF1 2px;
    position: absolute;
   	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 27%, 67% 0);
  	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 27%, 67% 0);
}
.doc:before {
	color: #7797FE;
    width: 0;
    height: 0;
    right: -3px;
    top: -3px;
    border-width: 18px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 0px 0px 0px 5px;
    content: '';
   	position: absolute;
}
.doc:after { 
	color: white;
    top: 100px;
    left: 5px;
    content: "doc";
    font-family: courier;
    font-size: 20px;
    position: absolute;
}
.doc:hover {
    opacity: 0.7;
}
/* End */


/* PDF */
.pdf {
	background: #FE0A0C;
    width: 104px;
    height: 128px;
    border-radius: 5px 0px 5px 5px;
    margin: 30px 130px;
    border: solid #FE0A0C 2px;
    position: absolute;
   	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 27%, 67% 0);
  	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 27%, 67% 0);
}
.pdf:before {
	color: #FE7B7C;
    width: 0;
    height: 0;
    right: -3px;
    top: -3px;
    border-width: 18px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 0px 0px 0px 5px;
    content: '';
    position: absolute;
}
.pdf:after { 
	color: white;
    top: 100px;
    left: 5px;
    content: "pdf";
    font-family: courier;
    font-size: 20px;
    position: absolute;
}
.pdf:hover {
    opacity: 0.7;
}
/* End */


/* Sliding Doors */
.topdoors {
	height: 7%;
    width: 100%;
    margin-left: -0.5px;
    border: solid gray 1px;
    border-radius: 5px 5px 0px 0px;
    background: white;
    position: relative;
    }
.topdoors:before {
    top: 12%;
    left: 47.5%;
    height: 50%;
    width: 5%;
    background: #505253;
    border: solid black 1px;
    position: absolute;
    border-radius: 2px 2px 50% 50%;
    content: "";
}
.leftpane {
	height: 87%;
    width: 24%;
    float:left;
    outline: solid gray 1px;
    background: linear-gradient(to bottom right,rgba(0,196,254,.5),rgba(0,196,254,0));
    position: relative;
    }
.leftpane:before {
    top: 50%;
    right: 0px;
    height: 7%;
    width: 100%;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    background: white;
    position: absolute;
    content: "";
}
.rightpane {
	height: 87%;
    width: 24%;
    margin: 0;
    float: right;
    outline: solid gray 1px;
    background: linear-gradient(to bottom left, rgba(0,196,254,.5),rgba(0,196,254,0));
    position: relative;
    }    
.rightpane:before {
    top: 50%;
    right: 0px;
    height: 7%;
    width: 100%;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    background: white;
    position: absolute;
    content: "";
}
.rightdoor {
	height: 90%;
    width: 26%;
    margin-top: -2px;
    float: right;
    outline: solid gray 1px;
    background: linear-gradient(to bottom right, rgba(0,196,254,.5),rgba(0,196,254,0));
    position: relative;
    z-index: 1;
    }    
.rightdoor:before {
    top: 50%;
    right: 0px;
    height: 8%;
    width: 100%;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    background: white;
    position: absolute;
    content: "";
}
.leftdoor {
	height: 90%;
    width: 26%;
    float:left;
    margin-top: -2px;
    outline: solid gray 1px;
    background: linear-gradient(to bottom left, rgba(0,196,254,.5),rgba(0,196,254,0));
    position: relative;
    z-index: 1;
    }    
.leftdoor:before {
    top: 50%;
    right: 0px;
    height: 8%;
    width: 100%;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    background: white;
    position: absolute;
    content: "";
}
.bottomdoor {
	height: 4.5%;
    width: 100%;
    top: -2%;
    left: -0.5px;
    float: left;
    background: white;
    border: solid gray 1px;
    border-radius: 0px 0px 4px 4px;
	position: relative;
}
/* End */


/* Media Query: Phone */
@media screen and (max-width: 600px){
    .circle, 
    .circle3, 
    .circle4, 
    .circle5, 
    .circle6 {
        margin: 0 5px;
        padding: 18px;
    }
    .circle {
        margin-left: 15px;
    }
    .circle2 {
        padding: 10px;
        width: 6px;
        height: 0px;
        border-radius: 50% 50% 0 0;
    }
    .circle7 {
        padding: 10px;
        width: 6px;
        height: 0px;
        border-radius: 0 0 50% 50%;
    }
    .down.icon {
        height: 0px;
    }
    .down.icon:before {
        left: -5px;
        top: 2px;
        width: 12px;
        height: 12px;
        border-top: solid 5px currentColor;
        border-right: solid 5px currentColor;
    }
    .up.icon {
        height: 0px;
    }
    .up.icon:before {
        left: -5px;
        top: 10px;
        width: 12px;
        height: 12px;
        border-top: solid 5px currentColor;
        border-right: solid 5px currentColor;
    }
    .circular--portrait {
        width: 250px;
        height: 250px;
        margin-top: -120px;
    } 
    .circular--portrait img {
        width: 240%;
        height: auto;
        margin-left: -220px;
        margin-top: -50px;
    }
    .doc {
        background: #2F5EF1;
        width: 52px;
        height: 64px;
        border-radius: 3px 0px 3px 3px;
        margin: 15px 40px;
    }
    .doc:before {
        border-width: 9px;
        border-radius: 0px 0px 0px 3px;
    }
    .doc:after { 
        top: 50px;
        left: 5px;
        font-size: 10px;
    }
    .pdf {
        width: 52px;
        height: 64px;
        border-radius: 3px 0px 3px 3px;
        margin: 15px 140px;
    }
    .pdf:before {
        border-width: 9px;
        border-radius: 0px 0px 0px 3px;
    }
    .pdf:after { 
        top: 50px;
        left: 5px;
        font-size: 10px;
    }
}
/* End */
