/* Initialize Page Size, etc. */
* {
    margin: 0;
    padding: 0;
}
/* End */


/* Grid: Entire Page */
.Page {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 80px;
    grid-template-areas: 
    "Home"
    "AboutMe"
    "Portfolio"
    "ContactMe"
    "bottom";
    max-height: 100%;
    width: 100%;
}
/* End */


/* Grid: Format the Home */
.Home {
    grid-area: Home;
    display: grid;
    grid-template-columns: 5% 2fr 4fr 2fr 5%;
    grid-template-rows: 150px 150px 100px 250px;
    grid-template-areas: 
    ". . . . . "
    ". . Title . Icons"
    ". . Description . Icons"
    ". . . Arrows .";
    grid-row-gap: 1em;
	position: relative;
    height: 100%;
} 
.background {
    background-attachment: fixed;;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(Grand\ Canyon.jpg);
    z-index: -1;
}
.Title {
    grid-area: Title;
    text-align: center;
    padding: 0.7em;
    font: bold 80px Courier;
    color: rgb(240, 240, 240);
    border-bottom: 2px solid white;
    margin: 0 auto;
    width: 75%;
} 
.Description {
    grid-area: Description;
    text-align: center;
    padding: 0.7em;
    font: bold 25px Courier;
    color: rgb(240, 240, 240);
} 
.Icons {
    grid-area: Icons;
    background: rgba(255, 255, 255, 0.7);
    border: solid white 2px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: calc(50% - 130px);
    right: 0px;
} 
.Arrows {
    grid-area: Arrows;
    position: fixed;
    z-index: 3;
    right: 5%;
    bottom: 30px;
}
/* End */


/* Sidebar */
#Sidebar {
    position: fixed;
    height: 50%;
    width: 150px;
    top: 25%;
    right: -150px;
    background: white; 
    z-index: 2;
    transition: all 500ms linear;
    border-radius: 10px 0px 0px 10px;
}
#Sidebar ul li {
    list-style: none;
    color: black;
    padding: 25px 10px;
    border-bottom: 1px solid black; 
    font-family: sans-serif; 
}
#Sidebar ul {
    margin-top: 50px;
}
#Sidebar li:hover {
    background: black;
    color: white;
    cursor: pointer;
}
#Sidebar li:first-child {
    border-top: 1px solid black;
}
#Sidebar.active {
    right: 0px; 
}
/* End */


/* Grid: Format the About Me */
.About.Me {
    grid-area:AboutMe;
    display: grid;
    grid-template-columns: 5% 2fr 4fr 2fr 5%;
    grid-template-rows: 150px 100px 350px 100px;
    grid-template-areas: 
    ". . Profile . ."
    ". . Title2 . ."
    ". Resume Details . ."
    ". . . . .";
    grid-gap: 1em;
    background-image: url(CityLine.png);
    background-position: center;
    position: relative;
    height: 700px;
}
.Title2 {
    grid-area:Title2;
    padding: 0.8em;
    text-align:center;
    font: bold 50px Courier;
    color: black;
    border-bottom: 2px solid black;
    width: 60%;
    margin: 0 auto;
}
.Resume {
    grid-area:Resume;
    padding: 1em;
    text-align:center;
    font: bold 50px Courier;
    color: black;
    margin-top: -50px;
}
.Details {
    grid-area:Details;
    padding: 1em;
    text-align:center;
    font: bold 20px Courier;
    color: black;
}
.Profile {
    grid-area: Profile;
    margin: 0 auto;
} 
/* End */


/* Grid: Format the Portfolio */
.Portfolio {
    grid-area:Portfolio;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 25px 125px 200px 200px 150px;
    grid-template-areas: 
    ". . title3 title3 . ."
    ". . . . . ."
    ". case1 case2 case3 case4 ."
    ". case5 case6 case7 case8 ."
    ". . . . . .";
    grid-gap: 1.3em;
    background-image: url(Tiles.png);
    background-position: center;
    position: relative;
    height: 700px;
}
.case1 {
    grid-area: case1;
    background: rgba(221, 81, 167, 0.3);
} 
.case2 {
    grid-area: case2;
    background: rgba(221, 81, 167, 0.3);
} 
.case3 {
    grid-area: case3;
    background: rgba(221, 81, 167, 0.3);
} 
.case4 {
    grid-area: case4;
    background: rgba(221, 81, 167, 0.3);
} 
.case5 {
    grid-area: case5;
    background: rgba(221, 81, 167, 0.3);
} 
.case6 {
    grid-area: case6;
    background: rgba(221, 81, 167, 0.3);
} 
.case7 {
    grid-area: case7;
    background: rgba(221, 81, 167, 0.3);
} 
.case8 {
    grid-area: case8;
    background-color: rgba(221, 81, 167, 0.3);
}
.title3 {
    grid-area: title3;
    font: bold 50px Courier;
    padding: 1.2em;
    text-align:center;
    border-bottom: solid black 2px;
    color: black;
    margin: 0 auto;
    width: 40%;
}
.case1:hover,
.case2:hover,
.case3:hover,
.case4:hover,
.case5:hover,
.case6:hover,
.case7:hover,
.case8:hover {
    background-color: rgba(221, 81, 167, 1);
    cursor: pointer;
}
/* End */


/* Grid: Format the Contact Me */
.Contact.Me {
    grid-area:ContactMe;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 20px 60px 50px 500px 70px;
    grid-template-areas:
    ". . ."
    ". title4 ."
    ". comment ."
    ". form ."
    ". . .";
    grid-gap: 1em;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), url(stars.jpeg); 
    background-position: center;
    position: relative;
    height: 700px;
}
.title4 {
    grid-area: title4;
    font: bold 50px Courier;
    text-align:center;
    color: rgb(255, 185, 81);
    border-bottom: solid rgb(255, 185, 81) 2px;
    width: 60%;
    margin: 0 auto;
}
.comment {
    grid-area: comment;
    font: bold 20px Courier;
    padding: 0.8em;
    text-align:center;
    color: rgb(255, 185, 81);   
    margin: 0 -60px;
    width: 110%;
}
/* End */


/* Form Grid */
form {
    grid-area:form;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 10% 60% 10% 10%;
    grid-template-areas: 
    "input1 input2"
    "input3 input4"
    "textbox textbox"
    ". submitgrid"
    ". .";
    width: 100%;
}
.input1 {
    grid-area: input1;
}
.input2 {
    grid-area: input2;
}
.input3 {
    grid-area: input3;
}
.input4 {
    grid-area: input4;
}
.textbox {
    grid-area: textbox;
}
.submitgrid {
    grid-area: submitgrid;
}
/* End */


/* Form inputs, Text Area, placeholder, & submit */
input {
    width: 92%;
    height: 90%;
    text-align: center;
}
textarea {
    resize: vertical;
    min-width: 92%;
    height: 80%;
    max-height: 90%;
    padding: 1em;
}
input[type="text"], input[type="email"], textarea {
    border: solid rgb(255, 185, 81) 4px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    background:rgba(0, 0, 0, 0.4);
    font: 20px Courier;
    color: white;
}
input:focus, textarea:focus {
    border: solid white 4px;
    border-radius: 5px;
}
::placeholder {
    text-align: center;
    color: white;
}
input[type="submit"] {
    border: solid rgb(255, 185, 81) 4px;
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.4);
    font: bold 25px arial;
    color: rgb(255, 185, 81);
}
input[type="submit"]:hover {
    background: rgb(255, 185, 81);
    color: white;
    cursor: pointer;
}
/* End */


/* Bottom */
.bottom {
    grid-area: bottom;
    background: #191918;
    height: 80px;
    text-align: center;
    color: #C8C8C7;
    font: oblique 14px Times;
    line-height: 80px;
    border-top: solid black 3px;
}
/* End */


/* Modals */
.modal {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background: rgba(0,0,0,0.5);
    grid-template-rows: 5% 10% auto 10% 5%;
    grid-template-columns: 5% auto 5%;
    grid-template-areas: 
    ". . ."
    ". header ."
    ". cont ."
    ". footer ."
    ". . .";
}
.modal_content {
    grid-area: cont;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.9);
    animation-name: openmodal;
    animation-duration: 1.5s;
}
.modal_header {
    grid-area: header;
    background-color: gray;
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.9);
    animation-name: openmodal;
    animation-duration: 1.5s;
}
.modal_footer {
    grid-area: footer;
    background-color: gray;
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.9);
    animation-name: openmodal;
    animation-duration: 1.5s;
}
.closebtn {
    color: #ccc;
    float: right;
    margin-right: 20px;
    font-size: 60px;
}
.closebtn:hover, .closebtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes openmodal{
    from {opacity:0}
    to {opacity:1}
}
/* End */

/* Media Query: Phone */
@media screen and (max-width: 600px){
    .Page {
        grid-template-rows: 430px 700px 1500px 700px 80px;
    }
    .Home {
        grid-template-rows: 0.1fr 0.3fr 1fr;
        grid-template-columns: 5% auto 5%;
        grid-template-areas: 
        ". Icons ."
        "Title Title Title "
        "Arrows Description .";
        grid-row-gap: 0.2em;
        height: 430px;
    }
    .Title {
        font-size: 40px;
        padding: 30px;
        width: auto;
        margin-top: 50px;
    }
    .Description {
        font-size: 16px;
        padding: 10px 15px 20px;
        height: 20%;
    }
    .Icons {
        display:flex;
        border-radius: 10px 10px 25px 25px;
        align-content: center;
        justify-content: center;
        flex-direction: row;        
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
    }
    .Arrows{
        position: fixed;
        left: 0;
        top: calc(50% - 25px);
        z-index: 1;
    }
    #Sidebar {
        height: 220px;
        width: 100%;
        top: -300px;
    }
    #Sidebar ul li {
        padding: 10px;
    }
    #Sidebar.active {
        top: 0px;
    }
    .About.Me {
        grid-template-rows: 1fr 0.4fr 1fr 1fr 0.1fr;
        grid-template-columns: auto;
        grid-row-gap: 0.1em;
        grid-template-areas: 
        "Profile"
        "Title2"
        "Details"
        "Resume";
    }
    .Title2 {
        font-size: 25px;
        margin: 0 auto;
        width: 80%;
    }
    .Details {
        font-size: 14px;
        width: 85%;
        margin: 0 auto;
    }
    .Resume {
        font-size: 20px;
        width: 70%;
        margin: 0 auto;
        line-height: 1px;
    }
    .Portfolio {
        grid-template-rows: 0.1fr 0.3fr repeat(8,1fr) 0.1fr;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        grid-template-areas: 
        "."
        "title3"
        "case1"
        "case2"
        "case3"
        "case4"
        "case5"
        "case6"
        "case7"
        "case8";
        height: auto;
    }
    .title3 {
        font-size: 25px;
        width: 60%;
        margin: 0 auto;
    }
    .case1,
    .case2,
    .case3,
    .case4,
    .case5,
    .case6,
    .case7,
    .case8 {
        width: 90%;
        margin: 0 auto;
        border-radius: 5px 5px;
    }
    .Contact.Me {
        grid-template-rows: 0.05fr 0.1fr 0.1fr 1fr;
        grid-template-columns: auto;
        grid-template-areas: 
        "."
        "title4"
        "comment"
        "form";
        grid-gap: 0.5em;
    }
    .title4 {
        font-size: 25px;
        width: 90%;
    }
    .comment {
        font-size: 13px;
        width: 90%;
        margin: 0 auto;
    }
    form {
        grid-gap: 0.5em;
    }
    input {
        width: 80%;
        height: 70%;
    }
    textarea {
        min-width: 85%;
        height: 90%;
    }
    input[type="text"], textarea {
        border: solid rgb(255, 185, 81) 4px;
        font: 10px Courier;
    }
    input:focus, textarea:focus {
        border: solid white 3px;
        border-radius: 5px;
    }
    input[type="submit"] {
        border: solid rgb(255, 185, 81) 3px;
        font: bold 15px arial;
        width: 90%;
    }
}
/* End */
